@import "core";

.main {
  width: 100%;
}

.top {
  border-bottom: var(--border);
  display: flex;

  @media (max-width: $m) {
    display: block;
    padding-top: 1rem;
  }

  .about,
  .contact,
  .info,
  .nav {
    border-right: var(--border);
    flex: 1;
    padding: 2rem;

    @media (max-width: $m) {
      border: none;
      padding: 2rem 1rem;
    }

    a {
      display: block;
      line-height: 1.5;
    }

    .active {
      color: var(--red);
    }

    .name {
      margin-top: 0.5rem;
    }
  }

  .about .p {
    line-height: 1.5;
  }

  .info div {
    display: flex;
    justify-content: space-between;

    @media (max-width: $m) {
      justify-content: flex-start;
    }

    span:first-of-type {
      margin-right: 0.5em;
    }
  }

  .nav {
    border-right: none;
  }
}

.p strong {
  display: block;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.bottom {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 100px;
  justify-content: space-between;
  padding: 2rem 2rem 3rem;

  @media (max-width: $m) {
    flex-direction: column;
    height: auto;
    padding: 2rem;
  }
}