@import "core";

.h1 {
  font-size: 2.2rem;
}

.h2 {
  font-size: 2rem;

  weak {
    display: block;
    font-size: 70%;
    line-height: 1.5;
    font-weight: 400;
  }
}

.h3 {
  font-size: 1.8rem;
}

.p {
  font-size: 16px;
  line-height: 1.5;
}

.p strong {
  font-weight: 600;
  margin-bottom: 1rem;
}